NODE_ENV=dev
JWT_SECRET=replace-with-a-long-random-secret
DATABASE_URL=postgresql://docker:docker@localhost:5432/apisolid?schema=public
DIRECT_URL=postgresql://docker:docker@localhost:5432/apisolid?schema=public
